*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "myfont";
  src: url("./assests/Font/Sodexo/WOFF/TTTravelsWOFF/TT_Travels_Bold.woff") format('woff');
}

code {
  font-family: myfont;
}

body {
  margin: 0;
  font-family: myfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

