.Footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.image{
    width: 28%;
    height: 2%;
    height: 150px;
    object-fit: contain;
}