.app_Header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* padding-right: 15px; */
}

.logo{
    width: 13%;
    margin-top: 10px;
}

