.userform{
    background: url(../assests/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: -1000; */
}

.logodiv{
    position: absolute;
    top:0;
    left: 0;
    width: 16%;
    height: 19%;
    /* background: rgba(255, 0, 0, 0.441); */
}

.logodiv:hover{
    cursor: pointer;
}

.userform__form{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: auto;
}

.userform__labels{
    display: flex;
    flex-direction: column;
    align-items: end;
}

label{
    margin-right: 10px;
    color: #0b073b;
    font-size: 20px;
}

.userform__form input{
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    height: 28px;
    padding: 0 10px;
}

.userform__form_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.btn{
    margin-top: 50px;
    /* margin-left: 100px; */
    /* background-color: #252525;
    color: #fff;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px; */
      background-color: #0b073b;
  color: antiquewhite;
  padding: 10px 40px;
  font-size: 30px;
  font-weight: 500;
  border-radius: 7px;
  border: none;
  letter-spacing: 1.5px;

}

.image{
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 33%;
}

.image2{
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: 33%;
}

@media screen and (max-width: 550px) {
    .userdataformsubdiv{
        display: flex;
        flex-direction: column;
    }
}