.UserCheck{
    background: url(../assests/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    z-index: 999;
    padding-top: 100px;
}
.logodiv{
    position: absolute;
    top:0;
    left: 0;
    width: 16%;
    height: 19%;
    /* background: rgba(255, 0, 0, 0.441); */
}

.timg{
    width: 120px;
    object-fit: contain;
}

.logodiv:hover{
    cursor: pointer;
}

.checkbox_div{
    display: flex;
    align-items: center;
    margin: 0 20px
}

.checkbox_div input{
    margin-right:10px ;
}

.usercheck__frm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.others{
    height: 25px;
    width: 225px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 10px;
}

.usercheck__form{
    display: flex;
}

.UserCheck__title{
    text-align: center;
    /* margin-top: 100px; */
}
.btn{
    margin-top: 10px;
    /* margin-left: 100px; */
    background-color: #252525;
    color: #fff;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    z-index: 999;
}